.global-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
}

.global-nav__list {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-nav__item {
    margin: 0;
}

.global-nav__link {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: color 0.3s ease;
    padding: 0.5rem 1rem;
}

.global-nav__link:hover {
    color: #ffcc00;
}

.global-nav__hamburger {
    display: none;
    font-size: 1.8rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width: 40rem) {
    .global-nav__list {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: fixed;
        top: 20rem;
        right: 0;
        width: 200px;
        height: calc(50%);
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        padding: 1rem;
        gap: 1rem;
    }

    .global-nav__list--open {
        display: flex;
    }

    .global-nav__hamburger {
        display: block;
    }
}